<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="exampleInputPassword1">Enter Number</label>
      <input type="number" name="value" class="form-control" [(ngModel)]="addValue" id="exampleInputPassword1"
        placeholder="add Value">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onAdd()">Add</button>

  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="exampleInputPassword1">Enter Number</label>
      <input type="number" name="value" class="form-control" [(ngModel)]="subValue" id="exampleInputPassword1"
        placeholder="Substract value">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubstract()">Subtract</button>

  </div>
</div>
